---
import Main from "$lib/layout/main.astro";
---

<Main title="About - Brandon Ma">
  <h1 class="text-2xl mb-8 mt-3">About Me</h1>

  <p class="leading-relaxed">
    During the day, I work primarily with hardware and manufacturing. Currently,
    I work in the semiconductor equipment space. I'm an engineer and a problem
    solver at heart. In my free time, I discovered programming and it's stuck
    with me since.
  </p>

  <p class="leading-relaxed">
    On this site, I write about tech and software development. As a hobbyist I
    like trying a lot of languages and frameworks, but right now I use the most:
    <br />
    Typescript, React, Next.js, Svelte, Go, Python.
  </p>

  <p class="leading-relaxed">
    Outside of work and programming, I enjoy reading, cooking, hitting the gym,
    hiking, tennis, and gaming.
  </p>

  <p class="leading-relaxed">
    Get in contact with me if you want to chat or need help with a project.
  </p>
</Main>

<style>
  p {
    max-width: 58ch;
    margin: 1rem 0;
    font-size: 1.05rem;
  }
</style>
