---
import Main from "$lib/layout/main.astro";
import type { GetStaticPaths } from "astro";
import { getEntry } from "astro:content";
import { getCollection } from "astro:content";

export const getStaticPaths = (async () => {
  const collection = await getCollection("blog");

  return collection.map((post) => ({
    params: { slug: post.slug },
    props: { slug: post.slug, post },
  }));
}) satisfies GetStaticPaths;

const { slug, post } = Astro.props;

const { Content, headings } = await post.render();
---

<Main>
  <Content />
</Main>
