---
import Article from "$lib/components/BlogPreview.astro";
import Main from "$lib/layout/main-revamp.astro";
import { getCollection } from "astro:content";

const blogPosts = await getCollection("blog", (post) => {
  if (!import.meta.env.PROD) {
    return true;
  }

  return post.data.draft !== true;
});

blogPosts.sort((a, b) => {
  return (
    new Date(b.data.publishedAt).getTime() -
    new Date(a.data.publishedAt).getTime()
  );
});
---

<Main
  canonical="https://brandonma.dev/blog"
  title="Blog - Brandon Ma"
  description={"Blog posts about programming and tech like Go, Typescript, and Svelte."}
>
  <h1 class="text-4xl mb-8 mt-3 text-foreground">Blog</h1>
  <section id="articles" class="flex flex-col gap-6">
    {
      blogPosts.map((post) => (
        <Article
          slug={post.id}
          title={post.data.title}
          publishedAt={post.data.publishedAt}
          previewText={post.data.previewText}
        />
      ))
    }
  </section>
</Main>ca
