@import "tailwindcss";

/* @config '../../tailwind.config.mjs'; */

@custom-variant dark (&:is(.dark *));

:root {
  --white: hsl(220 14.3% 95.9%);
  --background: hsl(27 100% 98%);
  --foreground: hsl(13 77% 55%);
  --accent: hsl(208 18% 21%);

  --muted: hsl(220 14.3% 95.9%);
  --muted-foreground: hsl(220 8.9% 46.1%);

  --popover: hsl(0 0% 100%);
  --popover-foreground: hsl(224 71.4% 4.1%);

  --card: hsl(0 0% 100%);
  --card-foreground: hsl(224 71.4% 4.1%);

  --border: hsl(220 13% 91%);
  --input: hsl(220 13% 91%);

  --primary: hsl(220.9 39.3% 11%);
  --primary-foreground: hsl(210 20% 98%);

  --secondary: hsl(220 14.3% 95.9%);
  --secondary-foreground: hsl(220.9 39.3% 11%);

  /* --accent:hsl (220 14.3% 95.9%); */
  --accent-foreground: hsl(220.9 39.3% 11%);

  --destructive: hsl(0 72.2% 50.6%);
  --destructive-foreground: hsl(210 20% 98%);

  --ring: hsl(224 71.4% 4.1%);

  --radius: 0.5rem;

  --font-sans:
    "Manrope Variable", system-ui, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans",
    "Helvetica Neue", sans-serif;

  --alert-info: hsl(213 94% 88%);
  --alert-info-foreground: hsl(213 94% 30%);
}

html.light {
  --white: hsl(220 14.3% 95.9%);
  --background: hsl(27 100% 98%);
  --foreground: hsl(13 77% 55%);
  --accent: hsl(208 18% 21%);

  --muted: hsl(220 14.3% 95.9%);
  --muted-foreground: hsl(220 8.9% 46.1%);

  --popover: hsl(0 0% 100%);
  --popover-foreground: hsl(224 71.4% 4.1%);

  --card: hsl(0 0% 100%);
  --card-foreground: hsl(224 71.4% 4.1%);

  --border: hsl(220 13% 91%);
  --input: hsl(220 13% 91%);

  --primary: hsl(220.9 39.3% 11%);
  --primary-foreground: hsl(210 20% 98%);

  --secondary: hsl(220 14.3% 95.9%);
  --secondary-foreground: hsl(220.9 39.3% 11%);

  --accent: hsl(220 14.3% 95.9%);
  --accent-foreground: hsl(220.9 39.3% 11%);

  --destructive: hsl(0 72.2% 50.6%);
  --destructive-foreground: hsl(210 20% 98%);

  --ring: hsl(224 71.4% 4.1%);

  --radius: 0.5rem;

  --alert-info: hsl(213 94% 78%);
  --alert-info-foreground: hsl(213 94% 40%);
}

@theme inline {
  --breakpoint-xsm: 480px;

  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);

  /* Colors */
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-ring: var(--ring);
  --color-radius: var(--radius);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);
  --color-alert-info: var(--alert-info);
  --color-alert-info-foreground: var(--alert-info-foreground);

  --font-reading:
    system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

@layer base {
  /* html.dark {
    --background: 27 100% 98%;
    --foreground: 13 77% 55%;
    --accent: 208 18% 21%;

    --muted: 215 27.9% 16.9%;
    --muted-foreground: 217.9 10.6% 64.9%;

    --popover: hsl(224 71.4% 4.1%);
    --popover-foreground: hsl(210 20% 98%);

    --card: hsl(224 71.4% 4.1%);
    --card-foreground: hsl(210 20% 98%);

    --border: 215 27.9% 16.9%;
    --input: 215 27.9% 16.9%;

    --primary: hsl(210 20% 98%);
    --primary-foreground: hsl(220.9 39.3% 11%);

    --secondary: 215 27.9% 16.9%;
    --secondary-foreground: hsl(210 20% 98%);

    --accent: 215 27.9% 16.9%;
    --accent-foreground: hsl(210 20% 98%);

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: hsl(210 20% 98%);

    --ring: 216 12.2% 83.9%;
  } */

  @media (prefers-color-scheme: dark) {
    /* :root {
      --background: 27 100% 98%;
      --foreground: 13 77% 55%;
      --accent: 208 18% 21%;

      --muted: 215 27.9% 16.9%;
      --muted-foreground: 217.9 10.6% 64.9%;

      --popover: hsl(224 71.4% 4.1%);
      --popover-foreground: hsl(210 20% 98%);

      --card: hsl(224 71.4% 4.1%);
      --card-foreground: hsl(210 20% 98%);

      --border: 215 27.9% 16.9%;
      --input: 215 27.9% 16.9%;

      --primary: hsl(210 20% 98%);
      --primary-foreground: hsl(220.9 39.3% 11%);

      --secondary: 215 27.9% 16.9%;
      --secondary-foreground: hsl(210 20% 98%);

      --accent: 215 27.9% 16.9%;
      --accent-foreground: hsl(210 20% 98%);

      --destructive: 0 62.8% 30.6%;
      --destructive-foreground: hsl(210 20% 98%);

      --ring: 216 12.2% 83.9%;
    } */

    .astro-code,
    .astro-code span {
      color: var(--shiki-dark) !important;
      background-color: var(--shiki-dark-bg) !important;
      /* Optional, if you also want font styles */
      font-style: var(--shiki-dark-font-style) !important;
      font-weight: var(--shiki-dark-font-weight) !important;
      text-decoration: var(--shiki-dark-text-decoration) !important;
    }
  }
}

@layer base {
  * {
    box-sizing: border-box;
    @apply border-border font-normal;
  }

  html {
    height: 100svh;
    font-family: var(--font-sans);
    font-size: 14px;
  }

  body {
    @apply bg-background text-foreground;
  }

  @media screen and (min-width: 640px) {
    html {
      font-size: 16px;
    }
  }
}
