---
import BlogPreview from "$lib/components/BlogPreview.astro";
import Landing from "$lib/layout/landing.astro";
import LucideArrowRight from "~icons/lucide/arrow-right";
import LucideRss from "~icons/lucide/rss";
import MdiGithub from "~icons/mdi/github";
import MdiLinkedin from "~icons/mdi/linkedin";
import { getCollection } from "astro:content";

const blogPosts = await getCollection("blog", (post) => {
  if (!import.meta.env.PROD) {
    return true;
  }

  return post.data.draft !== true;
});

const latestPosts = blogPosts
  .sort((a, b) => {
    return (
      new Date(b.data.publishedAt).getTime() -
      new Date(a.data.publishedAt).getTime()
    );
  })
  .slice(0, 3);
---

<Landing>
  <div class="grid grid-rows-2 md:grid-rows-none md:grid-cols-5 gap-4">
    <div
      class="relative md:col-start-1 md:col-span-3 nameplate overflow-clip p-2 bg-grid border-foreground border-2"
    >
      <div class="bg-background w-[35ch] md:w-[50ch] p-1 overflow-clip">
        <p class="font-semibold text-3xl sm:text-4xl lg:text-5xl">
          0000002 REV. MA
        </p>
        <p class="opacity-0 text-xl font-semibold sm:text-xl lg:text-2xl">
          MANUFACTURING ENGINEER
        </p>
      </div>
      <div
        class="w-60 hidden xsm:flex justify-end absolute -bottom-5 -right-2 md:bottom-0 md:right-0 rotate-45 corner-job"
      >
        <div class="bg-background">
          <p class="font-light">(Sometimes Web Dev)</p>
        </div>
      </div>
    </div>
    <a
      href="/about"
      class="group/about md:col-span-2 bg-foreground md:h-[400px] p-8"
    >
      <div
        class="text-2xl text-background inline-flex items-center gap-2 font-semibold"
      >
        ABOUT <LucideArrowRight
          class="group-hover/about:-rotate-45 group-focus-within/about:-rotate-45 group-active:-rotate-45 transition-transform duration-150"
        />
      </div></a
    >
  </div>
  <!-- Bottom section -->
  <div
    class="grid grid-rows-2 md:grid-rows-none md:grid-cols-5 gap-8 md:gap-4 mt-10"
  >
    <div
      class="md:col-start-1 md:col-span-2 relative min-h-[320px] max-h-[500px]"
    >
      <svg
        class="absolute -top-4 -left-4 w-[40px] h-[40px]"
        viewBox="0 0 100 100"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          class="corner text-accent"
          d="M 0 100 V 0 H 100"
          stroke-width="8"
          stroke="currentColor"
          fill="none"
        >
        </path>
      </svg>

      <svg
        class="absolute -bottom-4 -right-0 w-[50px] h-[50px] rotate-180"
        viewBox="0 0 100 100"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          class="corner text-accent"
          d="M 0 100 V 0 H 100"
          stroke-width="8"
          stroke="currentColor"
          fill="none"
        >
        </path>
      </svg>
      <h2 class="text-accent font-medium text-2xl mb-8">BLOG</h2>
      <div class="flex flex-col gap-4 mb-6">
        {
          latestPosts.map((post) => (
            <BlogPreview
              title={post.data.title}
              publishedAt={post.data.publishedAt}
              previewText={post.data.previewText}
              slug={post.slug}
            />
          ))
        }
      </div>
      <a href="/blog">See More</a>
    </div>
    <div class="md:col-span-3 bg-accent p-8 flex flex-col justify-between">
      <p class="text-background font-medium text-2xl">WORK</p>
      <div class="self-end text-background">
        <p class="font-medium">CURRENT :</p>
        <p class="font-medium">KLA</p>
        <p class="font-medium">SAN JOSE, CALIFORNIA</p>
      </div>
    </div>
  </div>
  <!-- Social links -->
  <div
    class="w-full flex items-center justify-center mt-12 text-3xl gap-8 text-accent"
  >
    <a
      href="https://github.com"
      class="w-fit"
      target="_blank"
      rel="noopener noreferrer"
    >
      <p class="sr-only">Github Profile</p>
      <MdiGithub />
    </a>
    <a
      href="https://www.linkedin.com/in/brandon-y-ma"
      class="w-fit"
      target="_blank"
      rel="noopener noreferrer"
    >
      <p class="sr-only">LinkedIn Profile</p>
      <MdiLinkedin />
    </a>
    <a href="/rss.xml" class="w-fit">
      <p class="sr-only">RSS Feed</p>
      <LucideRss class={"w-6 h-6"} />
    </a>
  </div>
</Landing>

<script>
  import { utils, animate, createTimeline, svg } from "animejs";
  const nameplateParts = utils.$(".nameplate p");

  const tl = createTimeline();

  tl.label("start")
    .add(nameplateParts[0], { translateY: [-200, 0], ease: "outExpo" }, "start")
    .add(
      nameplateParts[1],
      {
        translateY: [100, 0],
        opacity: [0, 1],
        easing: "outExpo",
      },
      "start"
    )
    .label("title")
    .add(
      ".corner-job",
      {
        rotate: [
          {
            to: "-65deg",
          },
        ],

        ease: "inOutCirc",
      },
      "+=100"
    )
    .add(
      nameplateParts[0],
      {
        translateX: [0, -500, 0],
        onUpdate(self) {
          if (self.progress > 0.5) {
            nameplateParts[0].innerHTML = "BRANDON MA";
          }
        },
        ease: "inOutExpo",
        duration: 2000,
      },
      "title+=1000"
    );

  animate(svg.createDrawable(".corner"), {
    draw: ["0 0", "0 1"],
    ease: "inOutQuad",
  });
</script>

<style>
  .bg-grid {
    background-image: repeating-linear-gradient(
        0deg,
        transparent,
        transparent 19px,
        #e55a347a 20px
      ),
      repeating-linear-gradient(
        90deg,
        transparent,
        transparent 19px,
        #e55a3478 20px
      );
    background-size: 20px 20px;
  }

  .corner-job {
    transform-origin: top left;
  }
</style>
