---
import "$lib/styles/app-revamp.css";
import "@fontsource-variable/manrope";
import "@fontsource/gothic-a1/400.css";
import "@fontsource/gothic-a1/600.css";

interface Props {
  title?: string;
  description?: string;
  fitScreen?: boolean;
}

const { title, description, fitScreen } = Astro.props;
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <meta
      name="description"
      content={description ??
        "Brandon Ma is a manufacturing engineer and web developer."}
    />
    <link rel="sitemap" href="/sitemap-index.xml" />
    <title>{title ?? "Brandon Ma"}</title>

    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png" />
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png" />
    <link rel="manifest" href="/site.webmanifest" />

    <meta property="og:title" content="Portfolio - Brandon Ma" />
    <meta
      property="og:description"
      content={description ??
        "Brandon Ma is a manufacturing engineer and web developer."}
    />

    <meta property="og:type" content="website" />
    <meta property="og:url" content={"https://brandonma.dev"} />
    <meta property="og:image" content="https://brandonma.dev/OG.png" />
  </head>
  <body class:list={{ "h-[100svh]": fitScreen }}>
    <slot />
  </body>
</html>
