---
import "$lib/styles/app.css";
import "@fontsource/gothic-a1";
import "@fontsource/geist-sans";

interface Props {
  title?: string;
}

const { title } = Astro.props;
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>{title ?? "Brandon Ma"}</title>
  </head>
  <body class="flex flex-col h-full">
    <slot />
  </body>
</html>
