---
import "$lib/styles/app.css";
import "@fontsource/gothic-a1/400.css";
import "@fontsource/gothic-a1/600.css";
import "@fontsource/geist-sans/100.css";
import "@fontsource/geist-sans/200.css";
import "@fontsource/geist-sans/300.css";
import "@fontsource/geist-sans/400.css";
import "@fontsource/geist-sans/500.css";
import "@fontsource/geist-sans/600.css";
import "@fontsource/geist-sans/700.css";
import "@fontsource/geist-sans/800.css";
import "@fontsource/geist-sans/900.css";

interface Props {
  title?: string;
  description?: string;
}

const { title, description } = Astro.props;
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <meta
      name="description"
      content={description ??
        "Brandon Ma is a manufacturing engineer and web developer."}
    />
    <link rel="sitemap" href="/sitemap-index.xml" />
    <title>{title ?? "Brandon Ma"}</title>
  </head>
  <body class="flex flex-col h-full">
    <slot />
  </body>
</html>
