---
import type { ComponentProps } from "astro/types";
import Base from "./base-revamp.astro";
import LogosGithubIcon from "~icons/logos/github-icon";
import ThemeToggle from "$lib/components/ThemeToggle.astro";

type BaseLayoutProps = ComponentProps<typeof Base>;

interface Props extends BaseLayoutProps {}

const { title, description, canonical } = Astro.props;
---

<Base title={title} description={description} canonical={canonical}>
  <header
    class="p-2 pt-6 max-w-(--breakpoint-lg) w-full mx-auto flex flex-col gap-2"
  >
    <div class="flex items-end justify-between w-full">
      <a href="/">
        <p id="logo" class="text-xl font-semibold">brandma</p>
      </a>
      <nav class="flex items-end gap-4 text-lg">
        <a href="/blog" class="hover:text-blue-500">Blog</a>
        <a href="/projects" class="hover:text-blue-500">Projects</a>
        <a href="/about" class="hover:text-blue-500">About</a>
      </nav>
    </div>
    <div class="self-end flex items-center gap-3">
      <ThemeToggle />
      <a href="https://github.com/maybemaby" target="_blank">
        <span class="sr-only">GitHub link</span>
        <span class="text-lg bg-slate-200 rounded-full block p-1">
          <LogosGithubIcon />
        </span>
      </a>
    </div>
  </header>
  <main class="p-2 max-w-(--breakpoint-lg) w-full mx-auto">
    <slot />
  </main>
</Base>

<style>
  #logo {
    font-family: "Gothic A1", Arial, Helvetica, sans-serif;
    position: relative;
    padding: 0 0.2rem;
    color: hsl(var(--white));
  }

  #logo::before {
    z-index: -1;
    content: "";
    position: absolute;
    bottom: 0;
    top: 100%;
    left: 0;
    right: 0;
    background-color: var(--color-blue-600);
    animation: highlight 0.5s forwards;
  }

  @keyframes highlight {
    0% {
      top: 100%;
    }
    100% {
      top: 0;
    }
  }
</style>
